// Theme Colours
$color-primary: #B000B5;
$color-secondary: #1856e7;
$color-body: #000;

// Other Colours
$color-red: rgb(213, 35, 35);
$color-white: #fff;

// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;